{% extends 'base.html' %}
{% block content %}
<div class="list">

    <div>
        <a href="{% url 'create' %}" class="btn btn-primary">Create a new Post</a>
    </div>

    {% for record in posts%}
    <div class="ticket priority-{{record.get_priority_display}}">
        <h5 class="title"><a href="{% url 'detail' record.id %}">{{record.title}}</a></h5>
        <label class="priority">{{ record.get_priority_display }}</label>
        <p class="content">{{record.content}}</p>
    </div>

    {% endfor%}
</div>
{% endblock %}